@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        z-index: -1;
        top: 0%;
        left: 0px;
        background: $btn-main-color;
    }
}

@mixin rotate_social {
    a {
        text-decoration: none;
        img {
            transform: rotate(90deg);
            &:hover {
                scale: 1.8;
                transition: 0.6s all;
                transform: rotate(450deg);
            }
        }
    }
}