// getting all standarts media from bootstrap

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .promo {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 50px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 300px 60px 80px 60px;
        }
        &__subtitle {
            grid-row: 2;
            padding-left: 12px;
            padding-top: 25px;
            @include before_circle;
            &:before {
                top: 30%;
            }
        }
        &__title {
            grid-row: 3/4;
            font-weight: bold;
            margin-top: 0;
            font-size: 28px;
            line-height: 40px;
            
        }
        &__btns {
            grid-row: 4;
            margin-top: 10px;
            padding-right: 50px;
        }
        &__link {
            display: inline-block;
            height: 35px;
            padding-top: 5px;
            &:hover {
                height: 60%;
            }

     
        }
        &__main_photo {
            grid-column: 1;
            grid-row: 1;
            width: 90%;
            height: 90%;
        }
    }

    .about {
        padding-left: 20px;
        padding-right: 50px;
        &__wrapper {
            grid-template-columns: minmax(520px, 1fr);
            grid-template-rows: minmax(115px, auto) minmax(115px, auto);
            grid-auto-rows: minmax(135px, auto);
   
        }

        &__img {
            left: 60px;
            height: 100%;
            width: 75%;
        }
    
        &__title {
            text-align: center;
            padding-left: 0;
            padding-top: 50px;
            @include before_circle;
            &:before {
                top: 60%;
                left: 47%;
            }
        }
        &__subtitle {
            margin-top: 50px;
            font-size: 28px;
        }
        &__text {
            margin-top: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            column-gap: 20px;
            row-gap: 20px;
        }
    }

    .portfolio {

        &__subtitle {
            font-size: 28px;
        }
        &__wrapper {
            margin-top: 60px;
            display: grid;
            grid-template-columns: minmax(520px, 1fr);
            // grid-template-rows: repeat(6, 450px);
  
            grid-auto-rows: minmax(200px, 0.8fr);
 
            .vertical {
                grid-column: 1;
                grid-row: 3;

            }
            .horizontal {
                grid-column: 1;
                grid-row: 4;

            }
        }
        &__item {
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }

    .skills {
        &__subtitle {
            font-size: 28px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 400px;
            grid-auto-rows: 1fr;
        }
  
    }

    .resume {
        &__subtitle {
            font-size: 28px;

        }
        &__wrapper {
            padding: 40px 5px 0 5px;
            grid-template-columns: 520px;

        }
        &__column {
            padding-top: 30px;
        }
    }

    .contacts {
        &__wrapper {
            grid-template-columns: 400px;
            grid-template-rows: repeat(8, 200px);
        }
        &__links {
            grid-row: 2/5;
            max-height: 450px;
        }
        &__descr {
            text-align: center;
            .divider {
                margin: 25px auto 0 auto;
            }
        }
        &__title {
            padding-left: 0;
            @include before_circle;
            &:before {
                left: 180px;
            }
        }
 
        &__social {
            text-align: center;

        }
        &__text {
            padding-top: 550px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 180px) ;
        }

    }
}