.wrapper {
    padding-top: 130px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 200px;
    grid-auto-rows: 1fr;
    row-gap: 20px;
    justify-items: center;



    .home_btn {
        position: fixed;
        bottom: 40px;
        right: 40px;
        width: 60px;
        height: 40px;
        font-weight: bold;

    }
}